<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Category list</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
</head>
<body>

	<table class="table table-striped">
		<tr>
			<th>Category</th>
		</tr>
		
		<tr th:each = "category : ${categories}">
			<td th:text=${category.name}></td>
		</tr>
	</table>
	
	<a href="/addcategory" class="btn btn-primary">Add category</a>

</body>
</html>